body {
  background: #2C3449;
}

.calculator {
  font-size: 16px;
  width: 13em;
  border: 2px solid black;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 10px;
  padding-top: 10px;
  border-radius: 5px;
  background: black;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.calculator::before, .calculator::after {
  content: " ";
  display: table;
}

.calculator::after {
  clear: both;
}

.calc-body {
  margin-right: 5px;
}

.memory-bar {
  height: 1em;
  width: 2em;
  background: linear-gradient(to right, #800000 76%, #000000 100%);
  margin-bottom: 8px;
  margin-right: -4px;
}

.memory-bar, .logo {
  display: inline-block;
  color: white;
}

.logo {
  float: right;

}

button {
  width: 3.581em;
  height: 2em;
  border-radius: 5px;
  border: #383838;
  margin-bottom: 3px;
  background: #383838;
  color: white;
}

button:focus {
  outline: 0;
}

button:hover {
  background: darkgray;
}

.ops-btn {
  background: #A9A9A9;
  border: #A9A9A9;
  transition: 0s 0.10s;
}

.ops-btn:hover {
  background: #383838;
}

.ops-btn:active {
  background: #ff8000;
  transition: 0s;
}

#clear {
  background: #cc0000;
}

#clear:hover {
  background: #ff4d4d;
}

.top-display {
  border-bottom: solid 2px 	#404040;
  border-right: solid 1px 	#404040;
  border-radius: 5px;
  background: linear-gradient(to bottom, #c0c0c0 76%, #f0f0f0 100%);
  margin-bottom: 12px;
  height: 40px;
  font-family: 'Orbitron', sans-serif;
}

.memDisplay {
  font-size: 12px;
  direction: rtl;
  padding-right: 5px;
  padding-top: 1px;
}

.funkDisplay {
  font-size: 9px;
  padding-left: 7px;
  padding-top: 1px;
}

.display {
  padding-left: 5px;
}
