.calculator {
  font-size: 16px;
  margin: 0 auto;
  width: 10em;
}
.calculator::before, .calculator::after {
  content: " ";
  display: table;
}
.calculator::after {
  clear: both;
}

button {
  width: 2em;
  height: 2em;
}